# call.zip outputs
graphs/
logs/

/target
/bin
scripts/venv
/venv
.idea
*.pem

# cztest ignores
cztest-config.yml
cztest-downloads/

# Binary name from "go build"
call.zip
call.zip.exe
cztest-client
cztest-client.exe
cztest-server
cztest-server.exe
!cmd/call.zip
!cmd/cztest-client
!cmd/cztest-server

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Ignore .env files
.env
.env.*

